{:paths ["src/main/clojure"
         "src/main/resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/tools.logging {:mvn/version "0.5.0"}
  org.clojure/test.check {:mvn/version "0.10.0"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/data.csv {:mvn/version "0.1.4"}
  org.clojure/java.jdbc {:mvn/version "0.7.10"}

  sg.dex/starfish-clj {:mvn/version "0.7.5"}

  hiccup {:mvn/version "1.0.5"}
  http-kit {:mvn/version "2.3.0"}
  ring {:mvn/version "1.8.0"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  ring-middleware-format {:mvn/version "0.7.4"}
  ring-cors {:mvn/version "0.1.13"}
  ring-logger {:mvn/version "1.0.1"}
  compojure {:mvn/version "1.6.1"}
  metosin/compojure-api {:mvn/version "1.1.13"
                         :exclusions [[metosin/ring-swagger-ui]]}
  metosin/ring-swagger-ui {:mvn/version "3.20.1"}
  environ {:mvn/version "1.1.0"}
  com.stuartsierra/component {:mvn/version "0.4.0"}
  clj-http {:mvn/version "3.10.0"}
  com.cemerick/friend {:mvn/version "0.2.3"}
  org.apache.tika/tika-core {:mvn/version "1.22"}
  com.h2database/h2 {:mvn/version "1.4.200"}
  org.bouncycastle/bcprov-jdk15on {:mvn/version "1.64"}
  ragtime {:mvn/version "0.8.0"}
  prismatic/schema-generators {:mvn/version "0.1.3"}}

 :aliases
 {:main
  {:main-opts ["-m" "surfer.core"]}

  :dev
  {:extra-paths ["src/dev"]
   :extra-deps {com.stuartsierra/component.repl {:mvn/version "0.2.0"
                                                 :exclusions [org.clojure/tools.namespace]}

                org.clojure/tools.namespace {:mvn/version "0.3.1"}}}

  :test
  {:extra-paths ["src/test/clojure"
                 "src/test/resources"]

   :extra-deps {org.clojure/tools.analyzer {:mvn/version "0.7.0"}}}

  :test-runner
  {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                           :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}

   :main-opts ["-m" "cognitect.test-runner"
               "-d" "src/test/clojure"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}}}}}