{:up ["CREATE TABLE IF NOT EXISTS JOBS (
         ID IDENTITY NOT NULL PRIMARY KEY,
         OPERATION CHAR(64) NOT NULL,
         RESULTS VARCHAR,
         CREATED_AT TIMESTAMP NOT NULL,
         UPDATED_AT TIMESTAMP,
         FOREIGN KEY (OPERATION) REFERENCES METADATA(ID)
      );"]

 :down ["DROP TABLE IF EXISTS JOBS;"]}