[{:username "one"
  :password "11111"}
 {:username "two"
  :password "22222"
  :roles #{:user :admin}
  :status "Active"}
 {:username "three"
  :password "3333"
  :status "Suspended"
  :roles #{:admin}}]
