[{:username "one"
  :password "11111"}
 {:username "two"
  :password "22222"
  :status "Active"}
 {:username "three"
  :password "3333"
  :status "Suspended"
  :roles #{:admin}}
 {:username "four"
  :password "44444"
  :status "Active"
  :roles #{:user :admin}}]
